<span class="badge text-bg-secondary">{{ parameter.name }}</span>

{% if parameter.isRequired %}
    <span class="badge text-bg-warning">required</span>
{% endif %}
<br />
{% if parameter.description %}
    <span class="small font-italic ms-4">{{ parameter.description|raw }}</span>
    <br />
{% endif %}

{% if parameter.defaultValue is not null %}
    <small>Default value:</small><span class="badge text-bg-light">Yes</span>
    <br />
{% endif %}

<div class="ms-4">
    {% include '@SpipuApiPartner/swagger/parameters.html.twig' with {parameters: parameter.properties} %}
</div>