<span class="badge badge-secondary">{{ parameter.name }}</span>

{% if parameter.isRequired %}
    <span class="badge badge-warning">required</span>
{% endif %}

<br />
<small>Allowed values:</small>
<span class="badge badge-light">0</span>
<span class="badge badge-light">1</span>
<span class="badge badge-light">false</span>
<span class="badge badge-light">true</span>
<br />

{% if parameter.description %}
    <span class="small font-italic">{{ parameter.description|raw }}</span>
    <br />
{% endif %}
