<span class="badge text-bg-secondary">{{ parameter.name }}</span>

{% if parameter.isRequired %}
    <span class="badge text-bg-warning">required</span>
{% endif %}

<br />
<small>Allowed values:</small>
<span class="badge text-bg-light">0</span>
<span class="badge text-bg-light">1</span>
<span class="badge text-bg-light">false</span>
<span class="badge text-bg-light">true</span>
<br />

{% if parameter.defaultValue is not null %}
    <small>Default value:</small><span class="badge text-bg-light">{% if parameter.defaultValue %}true{% else %}false{% endif %}</span>
    <br />
{% endif %}

{% if parameter.description %}
    <span class="small font-italic">{{ parameter.description|raw }}</span>
    <br />
{% endif %}
